<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css" >
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="vue/Vue-2.5.16.js"></script>
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><h1 >schedule</h1></a>
        </div>
        <div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control search" >
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="nav-navcolor"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
            <li><a href="#" class="nav-navcolor"><span class="glyphicon glyphicon-log-in"></span>注销</a></li>
        </ul>
    </div>
</nav>
<div class="container"  id="login_html">
    <div class="row">
            <div class="panel panel-default" style=" width: 50%;padding: 5% 5%;margin-left: auto;margin-right: auto">
                <div class="panel-body" style="">
                   <form class="form form-horizontal">
                       <div class="form-group">
                           <span >用户名</span>
                           <input class="form-control" v-model="userName" type="text" name="userName">
                       </div>
                       <div class="form-group">
                           <span >密码</span>
                           <input class="form-control" v-model="password" type="password" name="password">
                       </div>
                       <div class="form-group">
                           <button class="btn btn-primary" type="button"  v-on:click="login();">登录</button>
                           <button class="btn btn-default" type="button">注册</button>
                       </div>
                   </form>

                </div>
            </div>
    </div>
</div>
<script src="vue/vue-resource.js"></script>
<script src="javascripts/login.js"></script>
</body>
</html>